#navImg{
    width: 50%;
    height: 50%;
}
#input-taker{
    width: 50%;
}
.navElementPosition{
	margin-left: auto;
}


.buttonFeatures{
    background-color: #8da724; 
    width: 150px;
}
.buttonFeatures:hover {
    color: #ffffff;
    background-color: #358116;
    border-color: #0ac074;
    font-weight: 700;
    
}

.cardImgFeatures{
    padding: 10px;
    max-width: 250px;
    display: block;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
}
   
}
#cardImgHolder{
    border-radius: 5%;
    background-color: #f1f1f1;
    margin: 5px;
}

